.page{
    display: flex; 
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    padding: 20px;
    border-radius: 5px;
    background-color:rgba(116, 116, 116, 0.849);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.description{
    width: 500px;
}
.description__title{
    margin-top: 16px;
    font-size: 30px;
}
.description__subtitle{
    font-size: 40px;
}
.description__text{
    font-size: 14px;
    text-align: justify;
    text-indent: 20px;
}

.viever{
    width: 14px;
    margin-left: 40px;

}
.viewer__list{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 460px;
    text-decoration-line: underline;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 90px;
}
.viewer__list_element{
    font-weight: bold;
    cursor: pointer;
}


.viewer__image{
    width: 400px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































